.top-left {
  position: absolute;
}
.top-left.showFalse {
  display: none;
}
.menu {
  display: none;
}
.menu.show {
  display: inline;
  top: 0px;
  left: 0;
  background-color: #272c34;
  width: 10px;
  transition: width 2s;
  transition-timing-function: ease;
  height: calc(100vh - 0px);
}
