/* .left-menu-bar {
  display: none;
} */
.left-menu-bar {
  top: 0px;
  left: 0;
  position: relative;
  background-color: #272c34;
  width: 300px;
  color: rgb(198, 212, 224);
  transition: width 1s;
  transition-timing-function: ease;
  height: calc(100vh - 0px);
}

.left-menu-bar.close {
  width: 00px;
}
